@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

.container {
  max-width: 1170px;
  margin: auto;
}

body {
  color: #6a6a6a;
  font-family: 'Raleway-Regular';
  font-size: 16px;
}

h4 {
  font-size: 40px;
  text-transform: uppercase;
  color: #EE3B24;
  font-weight: 400;
}

h4 span {
  font-weight: 700;
}

.title-desc {
  margin-top: 20px;
  font-size: 18px;
  color: #000000;
}

.line {
  width: 70px;
  height: 5px;
  background: #EE3B24;
  margin: auto;
  margin-top: 20px;
}

.header {
  height: 100vh;
}

.header .top-menu {
  position: fixed;
  width: 100%;
  padding: 25px 0;
  background: #ffffff;
  z-index: 5;
  top: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

.header .top-menu .top-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top-menu .top-menu-wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-menu .top-menu-wrap .logo h3 {
  margin-left: 10px;
  text-transform: uppercase;
}

.header .top-menu .top-menu-wrap .logo h3 a {
  color: #262626;
  font-family: 'Raleway-Medium';
}

.header .top-menu .top-menu-wrap .menu a {
  text-transform: uppercase;
  color: #3a3a3a;
  font-family: 'Raleway-Medium';
  font-size: 14px;
  font-weight: 700;
  margin-right: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .top-menu .top-menu-wrap .menu a:hover {
  color: #EE3B24;
}

.header .top-menu .top-menu-wrap .menu a:last-of-type {
  margin-right: 0;
}

.header .header-slider-wrap {
  position: relative;
  top: 0;
}

.header .header-slider-wrap .header-slider {
  width: 100%;
}

.header .header-slider-wrap .header-slider .slick-list {
  overflow: hidden;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block {
  text-align: center;
  height: 100vh;
  position: relative;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/header/5.png);
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content {
  color: #ffffff;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content img {
  width: 100%;
  height: 100%;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay .border {
  position: relative;
  width: 400px;
  margin: auto;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay .border h2 {
  font-size: 60px;
  font-family: 'Raleway-Medium';
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay .border::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 110px;
  background: #EE3B24;
  left: 10px;
  top: -10px;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay .border::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 110px;
  background: #EE3B24;
  right: 10px;
  top: -10px;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay h3 {
  margin-top: 20px;
  font-size: 70px;
  font-family: 'Raleway-Light';
  font-weight: 300;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay h3 span {
  font-family: 'Raleway-Medium';
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-block .content .overlay p {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 46px;
  margin-top: 40px;
}

.header .header-slider-wrap button .fas {
  font-family: 'fa-solid-900';
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-slider-wrap button .fas:hover {
  background: #EE3B24;
  color: #ffffff;
}

.header .header-slider-wrap .header-slider-left {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 30px;
}

.header .header-slider-wrap .header-slider-right {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 30px;
}

.header .header-slider-wrap .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .header-slider-wrap .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.header .header-slider-wrap .slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.header .header-slider-wrap .slick-dots .slick-active button {
  background: #EE3B24;
}

.header .anchor {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.header .anchor a .fas {
  font-family: 'fa-solid-900';
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(238, 59, 36, 0.5);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  z-index: 5;
}

.header .anchor a .fas:hover {
  background: #EE3B24;
  color: #ffffff;
}

.services {
  padding-top: 90px;
  padding-bottom: 130px;
}

.services .title {
  text-align: center;
}

.services .services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.services .services-wrap .block {
  text-align: center;
  margin-left: 55px;
}

.services .services-wrap .block:first-of-type {
  margin-left: 0;
}

.services .services-wrap .block:hover .icon .fas {
  color: #EE3B24;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.services .services-wrap .block:hover .content h5 {
  color: #EE3B24;
}

.services .services-wrap .block .icon .fas {
  font-family: 'fa-solid-900';
  font-size: 60px;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .services-wrap .block .content {
  margin-top: 35px;
}

.services .services-wrap .block .content h5 {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  color: #000000;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .services-wrap .block .content p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
}

.services .services-wrap .block .btn {
  margin-top: 40px;
}

.services .services-wrap .block .btn button {
  background: #333333;
  width: 130px;
  height: 45px;
  color: #ffffff;
  font-family: 'Raleway-Medium';
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .services-wrap .block .btn button:hover {
  background: #EE3B24;
}

.skills {
  background: url(../img/skills/1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 90px;
  padding-bottom: 130px;
  background-attachment: fixed;
}

.skills .title {
  text-align: center;
}

.skills .title h4 {
  color: #ffffff;
}

.skills .title p {
  color: #ffffff;
}

.skills .skills-wrap {
  margin-top: 50px;
}

.skills .skills-wrap .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.skills .skills-wrap .block:first-of-type {
  margin-top: 0;
}

.skills .skills-wrap .block .skill {
  color: #ffffff;
  width: 48%;
}

.skills .skills-wrap .block .skill .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skills .skills-wrap .block .skill .content h5 {
  font-family: 'Raleway-Medium';
  font-size: 16px;
}

.skills .skills-wrap .block .skill .content .percent {
  background: #EEEEEE;
  padding: 4px;
}

.skills .skills-wrap .block .skill .content .percent span {
  color: #222222;
  font-family: 'Raleway-Medium';
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.skills .skills-wrap .block .skill .skill-line {
  background: #EEEEEE;
  width: 100%;
  height: 12px;
  margin-top: 7px;
  position: relative;
}

.skills .skills-wrap .block .one .skill-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background: #5CB85C;
}

.skills .skills-wrap .block .two .skill-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  background: #5BC0DE;
}

.skills .skills-wrap .block .three .skill-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background: #F0AD4E;
}

.skills .skills-wrap .block .four .skill-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background: #D9534F;
}

.portfolio {
  padding-top: 90px;
  background: #FBFAF8;
}

.portfolio .title {
  text-align: center;
}

.portfolio .portfolio-block {
  margin-top: 50px;
}

.portfolio .portfolio-block .link {
  text-align: center;
}

.portfolio .portfolio-block .link a {
  color: #ffffff;
  background: #000000;
  padding: 10px 15px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.portfolio .portfolio-block .link a:hover {
  background: #EE3B24;
}

.portfolio .portfolio-block .cards {
  margin-top: 70px;
}

.portfolio .portfolio-block .cards .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio-block .cards .block .card {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-block .cards .block .card:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio .portfolio-block .cards .block .card img {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio-block .cards .block .card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #EE3B24;
  width: 100%;
  height: 60%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.portfolio .portfolio-block .cards .block .card .overlay .content {
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
}

.portfolio .portfolio-block .cards .block .card .overlay .content h5 {
  font-family: 'Raleway-Medium';
  font-size: 14px;
}

.portfolio .portfolio-block .cards .block .card .overlay .content p {
  margin-top: 30px;
  font-size: 12px;
}

.portfolio .portfolio-block .cards .block .card .overlay .buttons {
  padding-right: 20px;
  margin-top: 10px;
  float: right;
}

.portfolio .portfolio-block .cards .block .card .overlay .buttons a {
  color: #222222;
}

.portfolio .portfolio-block .cards .block .card .overlay .buttons a .fas {
  font-family: 'fa-solid-900';
  background: #ffffff;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio-block .cards .block .card .overlay .buttons a .fas:hover {
  color: #EE3B24;
  background: #222222;
}

.portfolio-project {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.portfolio-project.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.portfolio-project .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 400px;
  width: 410px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
}

.portfolio-project .content .img {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-project .content .close {
  background: #E8E8E8;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-project .content .close:hover {
  opacity: .6;
}

.portfolio-project .content .close span {
  background: #737373;
  height: 10px;
  width: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio-project .content .close span::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: #737373;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.about {
  padding-top: 90px;
  padding-bottom: 130px;
}

.about .title {
  text-align: center;
}

.about .about-wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-wrap .about-nav .block {
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 140px;
  height: 140px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.about .about-wrap .about-nav .block.active {
  background: #EE3B24;
}

.about .about-wrap .about-nav .block.active .fas {
  color: #EE3B24;
}

.about .about-wrap .about-nav .block.active .fab {
  color: #EE3B24;
}

.about .about-wrap .about-nav .block.active h5 {
  color: #ffffff;
}

.about .about-wrap .about-nav .block.active::before {
  content: '';
  position: absolute;
  background: #EE3B24;
  width: 0px;
  height: 0;
  right: -1px;
  top: 30px;
  border-top: 12px solid transparent;
  border-right: 12px solid #ffffff;
  border-bottom: 12px solid transparent;
}

.about .about-wrap .about-nav .block:first-of-type {
  margin-top: 0;
}

.about .about-wrap .about-nav .block button .icon {
  margin-top: 30px;
}

.about .about-wrap .about-nav .block button .icon .fas {
  font-family: 'fa-solid-900';
  border: 1px solid #cccccc;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #222222;
  margin: auto;
}

.about .about-wrap .about-nav .block button .icon .fab {
  font-family: 'fa-brands-400';
  border: 1px solid #cccccc;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #222222;
  margin: auto;
}

.about .about-wrap .about-nav .block button h5 {
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Raleway-Medium';
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #262626;
}

.about .about-wrap .about-content {
  margin-left: 100px;
  overflow: hidden;
  height: 935px;
}

.about .about-wrap .about-content .block .img img {
  width: 100%;
  height: 100%;
}

.about .about-wrap .about-content .block .desc {
  margin-top: 20px;
}

.about .about-wrap .about-content .block .desc h5 {
  color: #262626;
  font-family: 'Raleway-Medium';
  font-size: 18px;
  margin-bottom: 10px;
}

.about .about-wrap .about-content .block .desc p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 32px;
}

.about .about-wrap .about-content .block .desc a {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 14px;
  color: #EE3B24;
  font-weight: 600;
  border-bottom: 1px solid #EE3B24;
}

.counter {
  background: #01A6E0;
  padding-top: 80px;
  padding-bottom: 120px;
}

.counter .counter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counter .counter-wrap .block {
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: relative;
  color: #ffffff;
  z-index: 1;
}

.counter .counter-wrap .block .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.counter .counter-wrap .block .icon .fas {
  font-family: 'fa-solid-900';
  font-size: 40px;
}

.counter .counter-wrap .block .numscroller {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 50px;
  z-index: 2;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #01A6E0;
}

.counter .counter-wrap .block h5 {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 220%);
          transform: translate(-50%, 220%);
  z-index: 3;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Raleway-Medium';
}

.test {
  padding: 90px 0;
}

.test .test-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test .test-wrap .video-block {
  height: 310px;
  width: 555px;
}

.test .test-wrap .video-block iframe {
  border: none;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.test .test-wrap .burgers {
  margin-left: 50px;
}

.test .test-wrap .burgers .burger {
  width: 555px;
  margin-top: 10px;
}

.test .test-wrap .burgers .burger:first-of-type {
  margin-top: 0;
}

.test .test-wrap .burgers .burger.active .desc {
  display: block;
}

.test .test-wrap .burgers .burger.active .title {
  border: 1px solid #EE3B24;
}

.test .test-wrap .burgers .burger.active .title .plus span {
  background: #EE3B24;
}

.test .test-wrap .burgers .burger.active .title span::before {
  display: none;
}

.test .test-wrap .burgers .burger .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
  padding-left: 20px;
  height: 40px;
  border-bottom: 1px solid #afafaf;
}

.test .test-wrap .burgers .burger .title h5 {
  font-family: 'Raleway-Medium';
  font-size: 16px;
  color: #262626;
}

.test .test-wrap .burgers .burger .title .plus {
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test .test-wrap .burgers .burger .title .plus span {
  background: #333333;
  width: 10px;
  height: 3px;
}

.test .test-wrap .burgers .burger .title .plus span::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 3px;
  background: #333333;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.test .test-wrap .burgers .burger .desc {
  padding: 15px;
  display: none;
}

.test .test-wrap .burgers .burger .desc p {
  font-size: 14px;
  color: #313131;
}

.team {
  background: #FAFAFA;
  padding-top: 90px;
  padding-bottom: 130px;
}

.team .title {
  text-align: center;
}

.team .team-slider-wrap {
  position: relative;
  margin-top: 50px;
}

.team .team-slider-wrap .team-slider .slick-list {
  overflow: hidden;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block {
  text-align: center;
  z-index: 2;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img {
  position: relative;
  width: 270px;
  height: 240px;
  margin: auto;
  overflow: hidden;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img img {
  width: 100%;
  height: 100%;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(209, 66, 51, 0.95);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay p {
  padding: 20px;
  font-size: 14px;
  line-height: 25px;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay .icon {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay .icon a {
  color: #ffffff;
  margin-left: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay .icon a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay .icon a:first-of-type {
  margin-left: 0;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .img .overlay .icon a .fab {
  font-family: 'fa-brands-400';
  font-size: 20px;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .content {
  background: #ffffff;
  width: 270px;
  margin: auto;
  padding: 35px 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .content h5 {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  color: #EE3B24;
  font-size: 18px;
}

.team .team-slider-wrap .team-slider .slick-list .slick-track .team-block .content p {
  font-size: 18px;
  color: #1F1F1F;
  font-weight: 600;
  margin-top: 10px;
}

.team .team-slider-wrap button .fas {
  font-family: 'fa-solid-900';
  background: #EE3B24;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team .team-slider-wrap button .fas:hover {
  background: #cccccc;
  color: #222222;
}

.team .team-slider-wrap .team-slider-left {
  top: 50%;
  left: 0;
  -webkit-transform: translate(-70px, -50%);
          transform: translate(-70px, -50%);
  position: absolute;
}

.team .team-slider-wrap .team-slider-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(70px, -50%);
          transform: translate(70px, -50%);
  position: absolute;
}

.team .team-slider-wrap .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team .team-slider-wrap .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.team .team-slider-wrap .slick-dots li button {
  font-size: 0;
  width: 45px;
  height: 7px;
  background: #EE3B24;
  opacity: .5;
}

.team .team-slider-wrap .slick-dots .slick-active button {
  opacity: 1;
}

.pricing {
  background: url(../img/pricing/1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 90px;
  padding-bottom: 130px;
}

.pricing .title {
  text-align: center;
}

.pricing .title h4 {
  color: #ffffff;
}

.pricing .title p {
  color: #ffffff;
}

.pricing .pricing-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.pricing .pricing-wrap .card {
  width: 390px;
  text-align: center;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}

.pricing .pricing-wrap .card .title {
  padding: 25px 0;
  background: #434343;
  color: #ffffff;
  position: relative;
}

.pricing .pricing-wrap .card .title h5 {
  font-family: 'Raleway-Medium';
  font-size: 25px;
}

.pricing .pricing-wrap .card .title p {
  font-size: 14px;
  font-family: 'Raleway-Medium';
  font-weight: 700;
}

.pricing .pricing-wrap .card .title::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  bottom: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #434343;
}

.pricing .pricing-wrap .card .price {
  padding: 35px 0;
  background: #f8f8f8;
  color: #434343;
  border-bottom: 1px solid #e6e6e6;
  line-height: 24px;
}

.pricing .pricing-wrap .card .price p {
  font-size: 50px;
  font-family: 'Raleway-Medium';
}

.pricing .pricing-wrap .card .price p span {
  font-size: 30px;
}

.pricing .pricing-wrap .card .content {
  background: #ffffff;
}

.pricing .pricing-wrap .card .content p {
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
  color: #434343;
  font-size: 18px;
}

.pricing .pricing-wrap .card .btn {
  background: #f6f6f6;
  padding: 15px 0;
}

.pricing .pricing-wrap .card .btn button {
  color: #ffffff;
  font-family: 'Raleway-Medium';
  font-weight: 700;
  background: #333333;
  width: 155px;
  height: 45px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing .pricing-wrap .card .btn button:hover {
  background: #EE3B24;
}

.pricing .pricing-wrap .card-active {
  z-index: 2;
  width: 410px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pricing .pricing-wrap .card-active .title {
  background: #EE3B24;
}

.pricing .pricing-wrap .card-active .title::before {
  border-top: 30px solid #EE3B24;
}

.pricing .pricing-wrap .card-active .btn button {
  background: #EE3B24;
}

.pricing .pricing-wrap .card-active .btn button:hover {
  background: #333333;
}

.blog {
  padding-top: 90px;
  padding-bottom: 130px;
  background: #f8f8f8;
}

.blog .title {
  text-align: center;
}

.blog .blog-slider {
  margin-top: 60px;
}

.blog .blog-slider .slick-list {
  overflow: hidden;
}

.blog .blog-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-slider .slick-list .slick-track .blog-block {
  text-align: center;
  max-width: 263px;
}

.blog .blog-slider .slick-list .slick-track .blog-block .img {
  width: 263px;
  height: 250px;
  position: relative;
}

.blog .blog-slider .slick-list .slick-track .blog-block .img a img {
  width: 100%;
  height: 100%;
}

.blog .blog-slider .slick-list .slick-track .blog-block .img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background: #EE3B24;
}

.blog .blog-slider .slick-list .slick-track .blog-block .img .overlay p {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Raleway-Medium';
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
}

.blog .blog-slider .slick-list .slick-track .blog-block .img .overlay p:last-of-type {
  font-size: 20px;
  font-family: 'Raleway-Regular';
  font-weight: 400;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content {
  margin-top: 15px;
  text-align: left;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-weight: 700;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content h5 a {
  color: #262626;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content h5 a:hover {
  color: #EE3B24;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content .desc {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
  font-size: 12px;
  padding-left: 5px;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content .desc .author .fas {
  font-family: 'fa-solid-900';
}

.blog .blog-slider .slick-list .slick-track .blog-block .content .desc .comment {
  padding-left: 10px;
}

.blog .blog-slider .slick-list .slick-track .blog-block .content .desc .comment .fas {
  font-family: 'fa-solid-900';
}

.blog .blog-slider .slick-list .slick-track .blog-block .content p {
  margin-top: 10px;
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}

.blog .blog-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog .blog-slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.blog .blog-slider .slick-dots li button {
  font-size: 0;
  width: 45px;
  height: 7px;
  background: #EE3B24;
  opacity: .5;
}

.blog .blog-slider .slick-dots .slick-active button {
  opacity: 1;
}

.feedback {
  padding-top: 90px;
  padding-bottom: 130px;
}

.feedback .title {
  text-align: center;
}

.feedback .feedback-slider-wrap {
  position: relative;
  margin-top: 60px;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list {
  overflow: hidden;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .img {
  width: 152px;
  height: 152px;
  margin: auto;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .img img {
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  height: 100%;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .name {
  margin-top: 20px;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .name h5 {
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Raleway-Medium';
  color: #EE3B24;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .feedback-line {
  margin: 20px auto;
  width: 120px;
  border: 0.5px solid #cccccc;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .prof p {
  font-size: 18px;
  color: #555555;
  font-family: 'Raleway-Medium';
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .content {
  margin-top: 40px;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .content p {
  color: #636363;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .content p .fas {
  font-family: 'fa-solid-900';
  font-size: 25px;
  color: #EE3B24;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .content p .fa-quote-left {
  padding-right: 10px;
}

.feedback .feedback-slider-wrap .feedback-slider .slick-list .slick-track .feedback-block .content p .fa-quote-right {
  padding-left: 10px;
}

.feedback .feedback-slider-wrap .btn {
  margin-top: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feedback .feedback-slider-wrap .btn button .fas {
  font-family: 'fa-solid-900';
  background: #EE3B24;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feedback .feedback-slider-wrap .btn button .fas:hover {
  background: #222222;
}

.clients {
  background: #f2f2f2;
  padding: 30px 0;
}

.clients .clients-slider .slick-list {
  overflow: hidden;
}

.clients .clients-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients .clients-slider .slick-list .slick-track .clients-block {
  text-align: center;
}

.touch {
  padding-top: 90px;
  padding-bottom: 130px;
}

.touch .title {
  text-align: center;
}

.touch .form {
  margin-top: 60px;
}

.touch .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.touch .form form .form-input .block {
  width: 555px;
  height: 45px;
  position: relative;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.touch .form form .form-input .block:first-of-type {
  margin-top: 0;
}

.touch .form form .form-input .block:hover {
  border: 1px solid #EE3B24;
  background: #eeeeee;
}

.touch .form form .form-input .block input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #888888;
}

.touch .form form .form-input .block .fas {
  font-family: 'fa-solid-900';
  font-size: 20px;
  color: #888888;
  padding-left: 10px;
}

.touch .form form .form-textarea {
  border: 1px solid #eeeeee;
  width: 555px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.touch .form form .form-textarea:hover {
  background: #eeeeee;
  border: 1px solid #EE3B24;
}

.touch .form form .form-textarea:focus-within .fas {
  display: none;
}

.touch .form form .form-textarea textarea {
  width: 100%;
  height: 100%;
  color: #888888;
  font-size: 14px;
  padding: 10px 0 0 15px;
}

.touch .form form .form-textarea .fas {
  font-family: 'fa-solid-900';
  color: #888888;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: 10px;
}

.touch .form .btn {
  margin-top: 30px;
  text-align: center;
}

.touch .form .btn button {
  background: #ee3b24;
  color: #ffffff;
  border-radius: 3px;
  width: 145px;
  height: 45px;
  font-family: 'Raleway-Medium';
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.touch .form .btn button:hover {
  background: #333333;
}

.map {
  width: 100%;
  height: 450px;
}

.map #map {
  height: 100%;
  width: 100%;
}

.contact {
  padding-top: 30px;
  padding-bottom: 50px;
  background: #333333;
}

.contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.contact .contact-wrap .block .title h5 {
  text-transform: uppercase;
  color: #C5C5C2;
  font-family: 'Raleway-Medium';
  font-size: 18px;
  position: relative;
}

.contact .contact-wrap .block .title h5::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 1px;
  background: #ee3b24;
  left: 0;
  bottom: -10px;
}

.contact .contact-wrap .block .title h5::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 5px;
  background: #ee3b24;
  left: calc(27.5px - 12px);
  bottom: calc(-10px - 2.5px);
}

.contact .contact-wrap .block .content {
  margin-top: 35px;
}

.contact .contact-wrap .block .content a {
  display: block;
  color: #9E9E9E;
  padding: 5px 0;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.contact .contact-wrap .block .content a:hover {
  color: #EE3B24;
}

.contact .contact-wrap .main-menu .content a {
  position: relative;
}

.contact .contact-wrap .main-menu .content a::before {
  content: '>';
  margin-right: 5px;
  color: rgba(158, 158, 158, 0.4);
  font-size: 14px;
}

.contact .contact-wrap .userfull .content a {
  position: relative;
}

.contact .contact-wrap .userfull .content a::before {
  content: '>';
  margin-right: 5px;
  color: rgba(158, 158, 158, 0.4);
  font-size: 14px;
}

.contact .contact-wrap .contact-us .content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-wrap .contact-us .content p .fas {
  font-family: 'fa-solid-900';
  color: #EE3B24;
  font-size: 14px;
}

.contact .contact-wrap .contact-us .content p a {
  padding-left: 10px;
}

.contact .contact-wrap .tags .content {
  width: 265px;
}

.contact .contact-wrap .tags .content a {
  display: inline-block;
  padding: 8px 10px;
  background: #2c2c2c;
  color: #c4c4c4;
  font-size: 14px;
  margin: 3px;
}

.contact .contact-wrap .tags .content a:hover {
  color: #ffffff;
  background: #EE3B24;
}

.footer {
  background: #222222;
  border-top: 1px solid #555555;
  padding: 30px 0;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrap .copy p {
  font-size: 18px;
  color: #c4c4c4;
}

.footer .footer-wrap .copy p span {
  color: #EE3B24;
}

.footer .footer-wrap .social a {
  margin-left: 10px;
}

.footer .footer-wrap .social a:first-of-type {
  margin-left: 0;
}

.footer .footer-wrap .social a .fas {
  font-family: 'fa-solid-900';
  color: #555555;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #555555;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.footer .footer-wrap .social a .fas:hover {
  border: 1px solid #EE3B24;
  color: #EE3B24;
}

.footer .footer-wrap .social a .fab {
  font-family: 'fa-brands-400';
  color: #555555;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #555555;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.footer .footer-wrap .social a .fab:hover {
  border: 1px solid #EE3B24;
  color: #EE3B24;
}
/*# sourceMappingURL=style.css.map */