.skills 
  background: url(../img/skills/1.jpg) no-repeat
  background-size: cover 
  background-position: 50% 50%
  padding-top: 90px
  padding-bottom: 130px 
  background-attachment: fixed
  & .title 
    text-align: center
    & h4 
      color: #ffffff
    & p 
      color: #ffffff
  & .skills-wrap
    margin-top: 50px 
    & .block 
      display: flex
      justify-content: space-between
      margin-top: 10px 
      &:first-of-type
        margin-top: 0
      & .skill 
        color: #ffffff
        width: 48%
        & .content 
          display: flex
          justify-content: space-between
          & h5 
            +ral_med
            font-size: 16px 
          & .percent 
            background: #EEEEEE
            padding: 4px 
            & span 
              color: #222222
              +ral_med
              display: block 
              font-weight: 700
              font-size: 14px 
        & .skill-line
          background: #EEEEEE
          width: 100%
          height: 12px 
          margin-top: 7px 
          position: relative
      & .one 
        & .skill-line
          &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 40%
            background: #5CB85C
      & .two 
        & .skill-line
          &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 90%
            background: #5BC0DE     
      & .three 
        & .skill-line
          &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 60%
            background: #F0AD4E           
      & .four 
        & .skill-line
          &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 80%
            background: #D9534F        